.row {
    display: grid;
    grid-template-columns: 50px 3fr 100px 120px;
    align-items: center;
  
    padding: 12px;
    margin-top: 8px;
  
    border-radius: 8px;
    gap: 15px;
  }
  
  .header {
    background: #ffd700;
    color: black;
    font-weight: bold;
  }
  
  .row:not(.header) {
    background: rgba(255,255,255,0.15);
  }
  
  .row div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .row:nth-child(2) {
    background: #c0c0c0;
    color: black;
  }
  
  .row:nth-child(3) {
    background: #cd7f32;
    color: black;
  }